<template name="appContainerTemplate">
    {{> navbarHeaderTemplate }}

    <div id="appLayoutPanel" class="fullheight padded">
        {{> customersPage }}

    </div>
    {{> navbarFooterTemplate }}
    <div class="hidden resize-trigger">resized: {{resized}}</div>
</template>

<template name="navbarHeaderTemplate">
    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
        <div class="container">
            <a class="navbar-brand" href="#">Clinical Forms</a>
            <!--<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">A</button>-->
            <!--<div class="nav-collapse collapse bs-navbar-collapse">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="view-button active"><a href="#">Vew</a></li>-->
                    <!--<li class="new-button"><a href="#">New</a></li>-->
                    <!--<li class="edit-button"><a href="#">Edit</a></li>-->
                    <!--<li class="delete-button"><a href="#">Delete</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
</template>

<template name="navbarFooterTemplate">
    <div class="navbar navbar-inverse navbar-fixed-bottom bs-docs-nav">
        <div class="container">
                <ul class="nav navbar-nav">
                    <li class="view-button active"><a href="#">Vew</a></li>
                    <li class="new-button"><a href="#">New</a></li>
                    <li class="edit-button"><a href="#">Edit</a></li>
                    <li class="delete-button"><a href="#">Delete</a></li>
                </ul>
        </div>
    </div>
</template>


<template name="customersPage">
    <div id="customersPage" class="fullheight padded">
        <div class="container doesnt-overlap-header">
            <div id="sidebarPanel" class="col col-lg-3 panel with-rounded-corners">
                {{> customersListTemplate }}
            </div>
            <div id="formPanel" class="col col-lg-9 unpadded">
                {{> customerFormTemplate }}
            </div>
        </div>
    </div>
</template>